@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.container-login {
  margin: 50px auto;
  width: 350px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 18px 17px 15px;
  overflow: hidden;
}

.title {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin-bottom: 16px;
}

.container-login .btn-login {
  display: block;
  background-color: #711bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 10px 0px 12px 0;
  margin-bottom: 17px;
}

.container-login .login-logo {
  vertical-align: -3px;
}

.container-login .container-find {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.container-find .img-lock {
  float: left;
  margin-right: 4px;
}

.container-find .link-findid {
  float: left;
  text-decoration: none;
}

.container-find .link-findid::after {
  display: block;
  float: right;
  content: '';
  margin: 0px 4px;
  width: 1px;
  height: 13px;
  background-color: #767676;
}

.container-find .link-findpw {
  float: left;
  text-decoration: none;
}

.container-find .link-join {
  float: right;
  text-decoration: none;
}

.container-find .img-join {
  float: right;
  margin-right: 4px;
}
